body {
    background: #9c9c94;
}

section {
    margin: 1rem 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;    
    flex-direction: column;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background: #FFF;
    border: 3px solid #000;
    border-radius: 10%;
    padding: 1rem;
    box-shadow: 10px 10px 10px -3px ;
}

h2 {
    margin: 0 0 2.25rem 0;
}

.formulario__interno {
    padding: 0.25rem;
    border: 2px solid #000;
    border-radius: 10%;
    display: flex;
}